<!--this is the view for the body--> 
 <section id="gigs" class="container">
    <h1>All Links</h1>

    {{#each links }}
    <div class="gig">
      <ul>
        <li>{{type}}</li>
        <li><a href="{{source}}">{{source}}</a></li>
        <li><a href="{{destination}}">{{destination}}</a></li>
        <li>{{size}}</li>
        <li>{{altText}}</li>
        <li>{{anchor}}</li>
        <li>{{statusCode}}</li>
        <li>{{status}}</li>
        <li>{{follow}} </li>
      </ul>
    </div>
    {{else}}
        <p>No links availabe</p>

    {{/each}}
  </section>