<!--this is the view for the body--> 
 <section id="gigs" class="container">
    <h1>All Links</h1>
    {{#each links }}
    <div class="gig">
      
      <ul>
        <li>{{type}}</li>
        <li><a href="{{source}}" target="_blank">{{source}}</a></li>
        <li class="dest"><a href="{{destination}}" target="_blank">{{destination}}</a></li>
        <li>{{size}}</li>
        <li>{{altText}}</li>
        <li>{{anchor}}</li>
        <li>{{statusCode}}</li>
        <li>{{status}}</li>
        <li>{{follow}} </li>
        <button type="submit" class="btn checkButton">Check</button>
      </ul>
      
      
    </div>
    {{else}}
        <p>No links availabe</p>
    {{/each}}
  </section>
<script src="./js/bundle.js" ></script>   