<!--this is the view for the body--> 
 <section id="gigs" class="container">
    <h1>All Links</h1>
    {{#each links }}
    <div class="gig">
      <ul>
        <li>{{type}}</li>
        <li><a href="{{source}}" target="_blank">{{source}}</a></li>
        <li ><a href="{{destination}}" target="_blank">{{destination}}</a></li>
        <li>{{size}}</li>
        <li>{{altText}}</li>
        <li>{{anchor}}</li>
        <li>{{statusCode}}</li>
        <li>{{status}}</li>
        <li>{{follow}} </li>
        <button type="submit" onclick="check('{{{ this.id}}}', '{{{ fix this.destination}}}')" class="btn checkButton">Check</button>
      </ul>
      
      
    </div>
    {{else}}
        <p>No links availabe</p>
    {{/each}}
  </section>
<script type="text/javascript">

  function check(id, destination){
    $('.gig ul').addClass("blink_me")
    $.ajax({
        url:"/links/check/",
        type: "GET", 
        dataType: "json",
        data: {
            "id": id, 
            "destination": destination
        }, 
        complete: function(){
            console.log("process complete")
        },
        success: function(data){
            $(".gig ul").attr("blink_me")
        }, 
        error: function(){
            console.log("error")
        }

    })
  }
</script>   